{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Update Book - {{ book.title }}{% endblock %}
{% block content %}
<h2>Update book</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control" value="{{ book.title }}" /> 
  </div>
  <div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" name="author" class="form-control" value="{{ book.author }}" />
  </div>
  <div class="mb-3">
    <label class="form-label">Number of pages</label>
    <input type="number" name="no_of_page" class="form-control" value="{{ book.no_of_page }}" />
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" name="price" class="form-control" value="{{ book.price }}" />
  </div>
  <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="file" name="image" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}